.block {
  height: 300px;
  width: 150px;
  z-index: 1;
  position: absolute;
  background-color: indigo;
}

.article {
  padding: 5vh 5vw;
}

.section {
  position: relative;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topBar {
  height: 1rem;
  width: 15rem;
  background-color: #4B2E83;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

