.slidingDoors {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 100%;
  pointer-events: none;
}

.block {
  z-index: 1;
  background-color: indigo;
}

.leftBlock {
  transform-origin: right center;
  left: 50%;
  top: 50%;
  transform: translate(-100%, -50%)
}

.rightBlock {
  transform-origin: left center;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
}

/* https://css-tricks.com/the-shapes-of-css/ */
.topRightTri {
  width: 0;
  height: 0;
  border-top: 100px solid white;
  border-left: 150px solid transparent;
}

.flipH {
  transform: scaleX(-1);
}