/* .fade-enter {
    max-height: 0;
    opacity: 0;
}
  
.fade-enter-active {
    max-height: 30px;
    opacity: 1;
    transition: all 500ms;
}
  
.fade-exit {
    max-height: 30px;
    opacity: 1;
}
  
.fade-exit-active {
    max-height: 0;
    opacity: 0;
    transition: all 500ms;
} */

.enter {
    max-height: 0;
    opacity: 0;
}
  
.enterActive {
    max-height: 30px;
    opacity: 1;
    transition: all 500ms;
}
  
.exit {
    max-height: 30px;
    opacity: 1;
}
  
.exitActive {
    max-height: 0;
    opacity: 0;
    transition: all 500ms;
}