.root {
  margin: 20px;
}

.filter {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filterCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.filterCard {
  margin: 5px;
  padding: 1px;
  background-color: azure;
  cursor: pointer;
}

.filterCardSelected {
  margin: 5px;
  padding: 1px;
  background-color: orange;
  cursor: pointer;
}

.listContainer {
}

.list {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}