.root {
  width: 100%;
  display: flex;
  justify-content: center;

  margin-top: 50px;
}

.container {
  max-width: 1400px;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filterCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.filterCard {
  margin: 5px;
  padding: 1px;
  background-color: azure;
  cursor: pointer;
}

.filterCardSelected {
  margin: 5px;
  padding: 1px;
  background-color: orange;
  cursor: pointer;
}

.body {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}