.root {
  width: 100%;
  display: flex;
  margin-top: 50px;
}

.container {
  max-width: 1400px;
  margin: 20px;
}

.filter {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filterHeading {
  font-weight: 500;
  font-size: 1.25rem;
}

.filterCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.filterCard {
  margin: 0.75vw;
  padding: 0.5rem;
  background-color:rgba(235, 235, 235, 0.5);
  cursor: pointer;
}

.filterCard:hover {
  margin: 0.75vw;
  padding: 0.5rem;
  background-color: #C4C4C4;
  cursor: pointer;
}

.filterCardSelected {
  margin: 0.75vw;
  padding: 0.5rem;
  background-color: #C4C4C4;
  cursor: pointer;
}

.list {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}