
.root {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.container {
  width: 100%;
  max-width: 1400px;
}

.list {
  max-width: 94%;
  height: 350;
  margin: auto;
  display: flex;
  overflow-x: auto;
  align-items: center;
  margin-left: 0;
  margin-bottom: 6vh;
}

.card {
  flex-shrink: 0;

  width: 200px;
  height: 300px;
  margin: 10px;

  background-color: grey;

}