
.root {
  width: 100%;
  display: flex;
  justify-content: center;

  margin-top: 50px;
}

.container {
  width: 100%;
  max-width: 1400px;
}

.title {

}

.list {
  /*
  max-width: 95%;

  height: 350;
  margin: auto;

  display: flex;
  overflow-x: auto;
  align-items: center;
  
  scroll-behavior: smooth;
  */
  background-image: linear-gradient(to bottom right, white,  #d3d3d3);
}

.card {

  flex-shrink: 0;

  width: 200px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;

  background-color: grey;

}

.arrowRoot {
  position: inherit;
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}