.person-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(235, 235, 235, 0.8);
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.person:hover .person-name {
    transition-duration: 0.3s;
    background-color: #4D2393;
}

.member-section {
    font-weight: 300;
    margin: 0.25rem;
    padding: 0;
}
