.person {
    flex-shrink: 0;
    position: relative;
    background-color: #4D2393;
    max-width: 300px;
    max-height: 24rem;
    margin: 1rem;
    cursor: pointer;
    overflow: hidden;
}

.person-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(235, 235, 235, 0.8);
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.person:hover .person-name {
    transition-duration: 0.3s;
    background-color: #4D2393;
}

.person-image {
    width: 300px;
}

.modal-content {
    border-radius: 0px;
    border: none;
}

.card-body {
    padding: 0;
}

.card-image {
    float: left;
    margin-right: 2vw;
}

.card-name {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.card-pronouns {
    font-weight: 300;
    font-size: 1rem;
    margin-left: 1vw;
}

.member-section {
    font-weight: 300;
    margin: 0.25rem;
    padding: 0;
}

.card-info {
    font-weight: 500;
    padding: 0;
}

.card-links {
    position: absolute;
    bottom: 0;
    right: 0;
}

.card-logo {
    margin: 0.5vw;
}

.contact-logo {
    height: 44px;
    display: inline-block;
    vertical-align: 0.1em;
    padding-left: 1vw;
    padding-right: 1vw;
}

.card-bio {
    margin-top: 1rem;
    color: #8C8C8C;
}