.endorsement-title {
    color: #000000;
    text-align: center;
    font-size: 40px;
    margin-top: 52px;
    margin-bottom: 48px;
    font-style: normal;
}

.endorsement-thank-you {
    padding-bottom: 1rem;
}

.endorsement-thank-you h2 {
    color: #000000;
    font-size: 24px;
    margin: 2rem;
    font-style: normal;
}

.endorsement-thank-you p {
	color: #000000;
    margin: 2rem;
}

.endorsement-linebar {
	margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
}

.sponsors-wrapper {
	margin: 20px;
}

.sponsors-wrapper h2 {
	color: #000000;
    font-size: 24px;
    margin: 2rem;
	font-style: normal;
	font-weight: bold;
}

.sponsor-level {
	margin: 20px;
}

.sponsor-level h3 {
	font-size: 20px;
    font-style: italic;
    margin: 1rem;
}

.sponsors {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}