.team-page-side-bar {
  width: fit-content;
  padding: 10px;
}

.team-page-side-bar ul {
  min-width: 225px; /* Needs to be changed if there are longer titles */
  list-style: none;
  width: fit-content;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 30px;
  padding: 15px;
  margin: 10px;
  border-right: 2px solid #aaaaaa;
}

.team-page-side-bar ul li {
  width:fit-content;
  white-space: nowrap;
  margin: 5px;
}

.team-page-side-bar ul li:hover {
  cursor: pointer;
}

.team-page-side-bar-current {
  font-size: 1.5em;
  font-weight: bold;
}
