.timeline-card {
	position: relative;
}

.timeline-content {
	color: white;
	margin: 1em auto;
	text-align: center;
	position: relative;
	border: 1px;
	border-style: solid;
	border-color: black;
	height: 20em;
	width: 80%;
	background-image: url("https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616__340.jpg");
}

.timeline-background {
	position: relative;
	margin: 2em;
	background: rgb(196, 196, 196);
	opacity: 0.7;
	top:0; bottom: 0; left: 0; right: 0;
}

.exit-motto-button {
	color: white;
	margin: 5px;
	padding: 10px;
	position: absolute;
	top: 2em; 
	left: 2em;
	border: none;
	background-color: #A8A8A8;
}

.timeline-header {
	font-size: 2em;
}


.timeline {
	position: relative;
	top: -21em;
	border: 2px;
	border-style: solid;
	border-color: rgb(184, 180, 180);
	margin: 1em auto;
	height: 20em;
	width: 80%;
}

.timeline:before {
	content: ' ';
	position: absolute;
	width: 90%;
	top: 10em;
	left: 5%;
	height: 4px;
	margin-top: 0em;
	background: rgb(216, 216, 216);
}

.events-wrapper::after, .events-wrapper::before {
	/* these are used to create a shadow effect at the sides of the timeline */
	content: '';
	position: absolute;
	z-index: 1;
	top: 10em;
	height: 4px;
	width: 15%;
}

.events-wrapper::before {
	left: 5%;
	background-image: -webkit-linear-gradient( left , #f8f8f8, rgba(248, 248, 248, 0));
	background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}
.events-wrapper::after {
	right: 5%;
	background-image: -webkit-linear-gradient( right , #f8f8f8, rgba(248, 248, 248, 0));
	background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}

.events li {
	position: relative;
	display: inline-block;
	margin: 0 9%;
}

.events .prev {
	margin: 0;
}

.events .next {
	margin: 0 5%;
}

.events a {
  position: absolute;
  top: 7em;
  z-index: 2;
  text-align: center;
  color: #505050;
  text-decoration: none;
}

.events a::after {
	/* these are used to create the event dots */
	content: ' ';
	position: absolute;
	left: 12px;
	top: 2em;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	border: none;
	background-color: #d1b879;
}

.events .active a::after {
	border: none;
	border-radius: 0;
	top: 2em;
	background-color: transparent;
	border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid #4B2E83;
}

.events .prev a::after, .events .next a::after {
	/* these are used to create the prev and next buttons */
	z-index: 3;
	content: ' ';
	position: absolute;
	top: 2em;	
	height: 24px;
	width: 24px;
	border-radius: 0;
	border: none;
	background-color: transparent;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

.events .prev a::after {
	border-right: 24px solid #4B2E83; 
}

.events .next a::after {
	border-left: 24px solid #4B2E83;
}

.events .disable a::after {
	visibility: hidden;
}

.events .disable {
	visibility: hidden;
}

.events .prev a::after, .events .next a::after{
	left: 0;
}
  
.timeline {cursor: pointer;}



@media screen and (max-width: 800px) {
  .timeline-content {
		width: 70%;
    float: left;
	}
	.timeline {
		margin-left: 70%;
		height: 20em;
		position: relative;
	}

	.timeline li {
		display: block;
		margin: 3em 0;
	}

	.timeline:before {
		content: '';
		position: absolute;
		width: 3px;
		background-color: red;
		height: 80%;
		top: 0;
	}
}