.business-card-div {
    background-color: #F9F9F9;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.business-card-title {
    color: #767676;
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
}

.business-card-description {
    color: #7b7b7b;
    font-size: 24px;
    font-style: normal;
}

.business-card-more {
    color: #7a7a7a;
    font-size: 20px;
    font-style: italic;
}

.business-card-contact {
    color: #7b7b7b;
    font-size: 20px;
    font-style: normal;
}