.team-structure-div, .team-structure-col-main {
    display: flex;
}

.team-structure-div {
    margin: 3em;
    justify-content: space-between;
}

.team-structure-title {
    margin-left: 24px;
    color: black;
    font-size: 28px;
    font-weight: 500;
}

.team-structure-col-title {
    margin-bottom: 1em;
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
}

.team-structure-col-side {
    width: 0.5em;
    background-color: #4b2e83;
    margin-right: 1em;
}