.header {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem;
}

body {
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    color: #4D2393;
    text-align: center;
    font-size: 36px;
}

h2 {
    text-align: left;
    font-size: 30px;
}

.involve-main, .involve-reason {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
}

.main-text, .reason-text {
    margin: 2rem;
}

p {
    padding: 0.5rem;
    font-size: 18px;
}

.involve-image {
    background-color: #DCD5E7;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    width: 300rem;
    height: 20rem;
    margin: 2rem;
}