.nav-bar-container {
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  border-top: 2vh solid #4B2E83;
  justify-content: space-between;
  border-bottom: solid #C4C4C4;
}

.nav-tab {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-bottom: .5vh;
  padding-top: 4vh;
  padding-left: .5vh;
  padding-right: .5vh;
}

.nav-tab:hover {
  color: #C4C4C4;
}

.logo-left {
  height: 7vh;
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 7vw;
}

.logo-right {
  height: 7vh;
  padding-top: 2vh;
  padding-left: 7vw;
  padding-right: 2vw;
}