.nav-bar-container {
  height: 30px;
  padding-top: 10px;
  padding-right: 20px;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: right;
}

.nav-tab {
  margin: 20px;
  text-decoration: none;
  color: black;
}