#nav-bar-container {
  display: flex;
  background-color: white;
  border-top: 1vw solid #4b2e83;
  justify-content: space-between;
  border-bottom: solid #c4c4c4;
  padding-top: 0;
}

.nav-tab {
  text-decoration: none;
  color: black;
  font-weight: bold;
  white-space: nowrap;
  font-size: large;
  padding-top: 2.5vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

#nav-bar-navbar {
  justify-content: center;
}

.nav-tab:hover {
  color: #c4c4c4;
}

.logo {
  height: 6vw;
  padding-top: 1.5vw;
}

#logo-left {
  padding-left: 2vw;
}

#logo-right {
  padding-right: 2vw;
}

.recruit-banner {
  background-color: #4b2e83;
  color: white;
  text-align: center;
  font-size: 1rem;
}

.recruit-banner a {
  color: #dccbff;
}

@media (max-width: 573px) {
  #logo-left {
    display: none;
  }

  #logo-right {
    display: none;
  }

  #nav-bar-navbar {
    justify-content: flex-start;
    font-size: medium;
  }
}
