.textTopBarStyle {
  height: 1rem;
  width: 35%;
  background-color: #4B2E83;
  transform-origin: left;
  animation: scale-right 3s ease;
}

.linkStyle {
  padding: 0.5rem 1rem;
  align-self: flex-end;
  color:white;
  background-color: #4B2E83;
  border-radius: 0.5em;
  transition: all 0.1s ease-in;
}

.linkStyle:hover {
  color: white;
  text-decoration: none;
  box-shadow: 2px 2px 5px gray;
}

.articleStyle {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  max-width: 30vw;
  /* margin: 10% 10% 10% 30%; */
}

.imageContainer {
  text-align: center;
  margin: 0.5em;
  /* margin: 10% 30% 10% 10%; */
}

.layout {
  margin: 5vh 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  animation: fade-in 3s cubic-bezier(.65,.15,.59,.81);
}

@keyframes scale-right {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}