.recruit-menu-div,
.recruit-menu-col-main {
  display: flex;
}

.recruit-menu-div {
  margin-top: 3rem;
  justify-content: space-around;
  margin-left: 6rem;
  margin-right: 2rem;
  margin-bottom: 5em;
}

.recruit-menu-title {
  margin-left: 200px;
  color: black;
  font-size: 32px;
  font-weight: 500;
}

.recruit-menu-description {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 30px;
  color: black;
  margin-bottom: 1.5rem;
}

.recruit-menu-link {
  color: white;
  width: 20%;
  margin-left: 40%;
  background-color: #4b2e83;
}

.recruit-menu-link-more {
  width: 50%;
  margin-left: 11.5rem;
  margin-top: 60px;
}

.recruit-menu-col-title {
  margin-bottom: 1em;
  font-style: italic;
  font-size: 24px;
  font-weight: bold;
}

.recruit-menu-col-side {
  width: 0.5em;
  background-color: #4b2e83;
  margin-right: 1em;
}
