@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.root {
}

.container {
  /* background */
  background: url("./pic2.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;

  /* content */
  display: flex;
  flex-direction: row;
}

.left {
  flex-basis: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.left div {
  margin: 10% auto;

  max-width: 200px;

  font-family: "Roboto";
  font-size: xx-large;
  font-weight: 900;
  color: white;
}

.right {
  flex-basis: 50%;

  height: 100%;

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;

  margin-top: 75px;

  margin-bottom: 20px;
}

.right div {
  margin: 10% auto;
  max-width: 80%;

  font-family: "Roboto";
  font-size: x-large;
  color: white;
}

.right button {
  margin: auto;

  border: none;
  height: 50px;
  width: 200px;

  color: #4b2e83;
}

@media (max-width: 800px) {
  .right div {
    font-size: large;
  }
}

@media (max-width: 600px) {
  .right div {
    font-size: medium;
  }
}
