
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.root {
  top: 50px;
  width: 100%;
}

.container {
  /*
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  */

  margin: 3% 0%;

  height: 100px;

  background-image: url('/public/ocean.png');
}

.textContainer {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  
}

.title h1 {
  font-family: 'Roboto';
  color: black;
}

.intro {

  margin: auto;

}

.more {

  margin: 0px auto;

}

.more button {
  width: 200px;
  height: 50px;
  background-color: #4B2E83;
  color: white;
  border: none;
}